<?xml version="1.0"?>
<config>
    <modules>
        <Macopedia_Zanox>
            <version>1.0.0</version>
        </Macopedia_Zanox>
    </modules>
    <global>
        <blocks>
            <macopedia_zanox>
                <class>Macopedia_Zanox_Block</class>
            </macopedia_zanox>
        </blocks>
        <helpers>
            <macopedia_zanox>
                <class>Macopedia_Zanox_Helper</class>
            </macopedia_zanox>
        </helpers>
        <models>
            <macopedia_zanox>
                <class>Macopedia_Zanox_Model</class>
            </macopedia_zanox>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <macopedia_zanox>
                    <file>macopedia/zanox.xml</file>
                </macopedia_zanox>
            </updates>
        </layout>
        <translate>
            <modules>
                <Macopedia_Zanox>
                    <files>
                        <default>Macopedia_Zanox.csv</default>
                    </files>
                </Macopedia_Zanox>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch>
                <observers>
                    <macopedia_zanox>
                        <class>macopedia_zanox/observer</class>
                        <method>registerPartner</method>
                    </macopedia_zanox>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>

    <default>
        <macopedia_zanox>
            <zanox_tags>
                <enable>0</enable>
            </zanox_tags>
        </macopedia_zanox>
    </default>
</config>